// Override Vuetify fab button bottom offset to account for 
// bottom navigation bar
.v-btn--fab.v-size--default.v-btn--absolute.v-btn--bottom {
  bottom: 72px;  
}

.gma-container {
  padding-bottom: 56px;  
}
