// Override Vuetify fab button bottom offset to account for
// bottom navigation bar
.v-btn--fab.v-size--default.v-btn--fixed.v-btn--bottom
.v-btn--fab.v-size--small.v-btn--fixed.v-btn--bottom
.v-speed-dial--bottom
  bottom: 70px;

.gma-container
  padding-bottom: 68px;
  align-items: start !important;

.gma-container
  .v-tabs-items
    width: 100%;

.gma-content
  transition: none;

.gma-mistake-list
  width: 100%;
  padding-top: 0;

// Remove transitions on Vuetify list items,
// cause they're annoying
.gma-mistake-list
  .v-expansion-panel
  .v-item-group
  .v-list-group__items
  .v-list-item--link:before
  button
    transition: none !important;

.gma-dialog-top
  .v-dialog
  .v-dialog__content
    transition: none !important;

.gma-scrolling-layout
  margin-bottom: 50px;

.gma-list-item__link
  display: flex;
  justify-content: center;
  align-items: center;
  // color: blue;

.gma-list-item__empty
  display: flex;
  justify-content: center;
  align-items: center;

.gma-btn-secondary--fab
  right: 72px;

.v-dialog
  transition: none !important;

.v-btn:before
  background-color: unset !important;

.gma-shot-details
  padding: 0 16px 24px 24px;

.gma-shot__title
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;

.gma-shot__title-inline
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bold;

.gma-shot__content
  font-size: 14px;

.gma-shot__content-inline
  font-size: 14px;
  margin-top: 5px;

.gma-mistake-list .v-list-group__header
  background-color: #707070;
  color: white !important;
  border: 1px solid #707070;
  border-radius: 2px;

.gma-mistake-list
  .v-list-group__header.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled)
    color: white !important;

.gma-mistake-list .v-list-group__header .v-icon
  color: white !important;

.gma-mistake-list .v-list-item
  margin-bottom: 3px;

.gma-app-bar-btn--active
  background-color: #ffffff;

.gma-app-bar-btn--active i
  color: #9e9e9e !important;

.gma-no-risk
  color: #707070 !important;
  caret-color: #707070 !important;
  background-color: white;
  border: solid #707070 1px;
  border-radius: 2px;

.gma-high-risk
  color: #F44336 !important;
  caret-color: #F44336 !important;
  background-color: #F4433620;
  border: solid #F44336 1px;
  border-radius: 2px;

.gma-medium-risk
  color: #ffce44 !important;
  caret-color: #ffce44 !important;
  background-color: #ffce4430;
  border: solid #ffce44 1px;
  border-radius: 2px;

.gma-low-risk
  color: #4CAF50 !important;
  background-color: #4CAF5020;
  caret-color: #4CAF50;
  border: solid #4CAF50 1px;
  border-radius: 2px;

.gma-tabs-container
  width: 100%;
  height: 100%;

.v-card--link:before
  background: none;
